MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
ZALO_IMEI=<your-zalo-imei>
ZALO_USER_AGENT=<your-user-agent>
ZALO_COOKIE_JSON=[{"name":"zpsid","value":"your_zpsid"},{"name":"zpw_sek","value":"your_zpw_sek"}]
